<!-- <div class="gallery">
  <div *ngFor="let f of frecuency" class="frame">
     <ngui-in-view>
      <img class="view-img" *ngIf src="../../../assets/img/{{f}}.svg">
    </ngui-in-view> -->
    <!-- <p>{{f}}</p>
  </div>
</div> -->

<div id="tile" class="tileContainer">
  <div class="box1"><img src="assets/img/01.svg" alt=""></div>
  <div class="box2"><img src="assets/img/02.svg" alt=""></div>
  <div class="box3"><img src="assets/img/03.svg" alt=""></div>
  <div class="box4"><img src="assets/img/04.svg" alt=""></div>
  <div class="box5"><img src="assets/img/05.svg" alt=""></div>
  <div class="box6"><img src="assets/img/06.svg" alt=""></div>
  <div class="box7"><img src="assets/img/01.svg" alt=""></div>
  <div class="box8"><img src="assets/img/02.svg" alt=""></div>
  <div class="box9"><img src="assets/img/03.svg" alt=""></div>
  <div class="box10"><img src="assets/img/04.svg" alt=""></div>
  <div class="box11"><img src="assets/img/05.svg" alt=""></div>
  <div class="box12"><img src="assets/img/06.svg" alt=""></div>
  <div class="box13"><img src="assets/img/01.svg" alt=""></div>
  <div class="box14"><img src="assets/img/02.svg" alt=""></div>
  <div class="box15"><img src="assets/img/03.svg" alt=""></div>
  <div class="box16"><img src="assets/img/04.svg" alt=""></div>
  <div class="box17"><img src="assets/img/05.svg" alt=""></div>
  <div class="box18"><img src="assets/img/06.svg" alt=""></div>
  <div class="box19"><img src="assets/img/01.svg" alt=""></div>
  <div class="box20"><img src="assets/img/02.svg" alt=""></div>
  <div class="box21"><img src="assets/img/03.svg" alt=""></div>
  <div class="box22"><img src="assets/img/04.svg" alt=""></div>
  <div class="box23"><img src="assets/img/05.svg" alt=""></div>
  <div class="box24"><img src="assets/img/06.svg" alt=""></div>
  <div class="box25"><img src="assets/img/01.svg" alt=""></div>
  <div class="box26"><img src="assets/img/02.svg" alt=""></div>
  <div class="box27"><img src="assets/img/03.svg" alt=""></div>
  <div class="box28"><img src="assets/img/04.svg" alt=""></div>
  <div class="box29"><img src="assets/img/05.svg" alt=""></div>
  <div class="box30"><img src="assets/img/06.svg" alt=""></div>
  <div class="box31"><img src="assets/img/01.svg" alt=""></div>
  <div class="box32"><img src="assets/img/02.svg" alt=""></div>
  <div class="box33"><img src="assets/img/03.svg" alt=""></div>
  <div class="box34"><img src="assets/img/04.svg" alt=""></div>
  <div class="box35"><img src="assets/img/05.svg" alt=""></div>
  <div class="box36"><img src="assets/img/06.svg" alt=""></div>
</div>

